body{
  display: flex;
  align-items: center;      
  justify-content: center;
  height: 100vh; 
}

.signupBox {
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 50vh; 
  width: 60vh;          
}